[MASTER]
jobs=4 #number of processes to use
disable=
    invalid-name,
    bare-except, broad-except,
    line-too-long,
    redefined-outer-name,
    wrong-import-order,
    logging-fstring-interpolation,
    too-many-arguments,
    too-many-instance-attributes
