click
pip-check-reqs
pip-licenses
{%- if cookiecutter.linter == 'pylint' %}
pylint
{%- elif cookiecutter.linter == 'flake8' %}
flake8
flake8-docstrings
{%- endif %}
black
pytest
pytest-cov
pytest-pythonpath
setuptools
mkdocs-material
mkdocstrings
tox
twine
